<div class="uk-width-1-2 uk-margin-remove uk-padding-remove">
	<div class="uk-card uk-card-default  form-platform">
		<div class="content-bloak">
			<div class="block-title-form">
				<h2 class="uk-margin-remove uk-padding-remove">Napisz do nas</h2>
				<span class="text-title">Oddzwonimy w ciągu 30 minut!</span>
			</div>
			<form class="my-form">
				<div class="uk-grid">

                    <div class="uk-width-1-2">
                        <label class="uk-form-label lebel-header" for="form-stacked-text">Imię i nazwisko*</label>
                        <div class="uk-form-controls">
                            <input
                                class="uk-input uk-form-width-medium input-left"
                                type="text"
                                placeholder="Wpisz"
                            />
                        </div>
                    </div>

                    <div class="uk-width-1-2 uk-padding-remove">
                        <label class="uk-form-label lebel-header lebel-rigith" for="form-stacked-text">Adres email*</label>
                        <div class="uk-form-controls">
                            <input
                                class="uk-input uk-form-width-medium input-rigith"
                                type="text"
                                placeholder="Wpisz"
                            />
                        </div>
                    </div>

                    <div class="uk-width-1-2 input-three">
                        <label class="uk-form-label lebel-header" for="form-stacked-text">Numer telefonu*</label>
                        <div class="uk-form-controls">
                            <input
                                class="uk-input uk-form-width-medium input-left"
                                type="text"
                                placeholder="Wpisz"
                            />
                        </div>
                    </div>

                    <div class="uk-width-1-2 block-radio">
                        <label class="uk-form-label lebel-header-radio" for="form-stacked-text"
                        >Prowadzę sprzedaż zagraniczną*</label
                    >
                    <div class=" form-true">
                        <span>
                            <input type="radio" name="radio1" id="answer1" checked />
                            <label class="uk-text-primary radio-text" for="answer1">Tak</label>
                        </span>
                        <span>
                            <input type="radio" name="radio1" id="answer2" />
                            <label class="uk-text-primary radio-text" for="answer2">Nie</label>
                        </span>
                    </div>
                    </div>

                    <div class="uk-width-1-1 ">
                        <div class="container-radio">
                        <label class="uk-form-label container-true" for="form-stacked-text"
                        >Interesuje mnie:</label
                    >
                    <div class="uk-child-width-auto uk-flex-center form-position">
                        <span class="wysyłka">
                            <input type="radio" id="radio03" name="radio" checked/>
                            <label class="uk-text-primary lebel-block" for="radio03"><span></span>Wysyłka</label>
                        </span>
                        <span class="zwroty">
                            <input type="radio" id="radio04" name="radio" />
                            <label class="uk-text-primary lebel-block" for="radio04"><span></span>Zwroty</label>
                        </span>
                        <span class="magazy">
                            <input type="radio" id="radio05" name="radio" />
                            <label class="uk-text-primary lebel-block" for="radio05"><span></span>Magazynowanie</label>
                        </span>
                        <span class="szkolenie">
                            <input type="radio" id="radio06" name="radio" />
                            <label class="uk-text-primary lebel-block" for="radio06"><span></span>Szkolenie</label>
                        </span>
                    </div>
                    </div>
                    <div class="uk-flex uk-flex-center button-block">
                        <button class="btn-Wyślij">
                            Wyślij
                        </button>
                    </div>
			</form>
		</div>
	</div>
</div>
