<div class="uk-width-1-2 left-block">
	<h1 class="uk-text-success uk-margin-remove uk-padding-remove ">
		Send it. Return it.
	</h1>
	<h1
		class="uk-text-success title-heder-body uk-margin-remove uk-padding-remove"
	>
		Go Global.
	</h1>
	<p class="text-block ">
		Kompleksowo obsługujemy zagraniczną logistykę w e-commerce. Codziennie
		wysyłamy zamówienia i odbieramy zwroty od kupujących w
		<strong> Polsce, Niemczech, Wielkiej Brytanii i Francji.</strong> Wspieramy
		eksport w sprzedaży zagranicznej – pomagamy e-sklepom skutecznie konkurować
		na globalnym rynku.
	</p>
	<div class="uk-grid block-buttons">
		<div
			class="uk-width-1-2 uk-padding-remove-left uk-margin-remove-left button-regith"
		>
			<button class="uk-button btn-zobacz ">Zobacz jak działamy</button>
		</div>
		<div class="uk-width-1-2 button-left">
			<button class="uk-button btn-nasze">Nasze szkolenia</button>
		</div>
	</div>
</div>
