<div class="uk-width-1-1 row-navbar">
	<nav class="uk-navbar-container uk-visible@m" uk-navbar>
		<div class="uk-navbar-left">
			<ul class="uk-navbar-nav">
				<li>
					<a class="uk-text-primary " href="#">Wysylki zagraniczne</a>
				</li>
				<li>
					<a class="uk-text-primary" href="#">Zwroty</a>
				</li>
				<li>
					<a class="uk-text-primary" href="#">Magazynowanie</a>
					<div class="uk-navbar-dropdown dropdown-magazynowanie">
						<ul class="uk-nav uk-navbar-dropdown-nav ">
							<li>
								<a class="uk-text-primary" href="#">Active</a>
							</li>
							<li>
								<a class="uk-text-primary" href="#">Item</a>
							</li>
							<li>
								<a class="uk-text-primary" href="#">Lorem</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a class="uk-text-primary" href="#">Szkolenia</a>
				</li>
				<li>
					<a class="uk-text-primary" href="#">Oprogramowanie</a>
				</li>
				<li>
					<a class="uk-text-primary" href="#">O Nas</a>
				</li>
				<li>
					<a class="uk-text-primary" href="#">Blog</a>
				</li>
				<li>
					<a class="uk-text-primary" href="#">Kontakt</a>
				</li>
			</ul>
		</div>
	</nav>

	<div id="offcanvas-nav" uk-offcanvas="overlay: true">
		<div class="uk-offcanvas-bar">
			<ul class="uk-nav uk-nav-center">
				<li>
					<a class="uk-text-success" href="#">Wysylki zagraniczne</a>
				</li>
				<li>
					<a class="uk-text-success" href="#">Zwroty</a>
				</li>
				<li>
					<a class="uk-text-success" href="#">Magazynowanie</a>
				</li>
				<li>
					<a class="uk-text-success" href="#">Szkolenia</a>
				</li>
				<li>
					<a class="uk-text-success" href="#">Oprogramowanie</a>
				</li>
				<li>
					<a class="uk-text-success" href="#">O Nas</a>
				</li>
				<li>
					<a class="uk-text-success" href="#">Blog</a>
				</li>
				<li>
					<a class="uk-text-success" href="#">Kontakt</a>
				</li>
			</ul>
		</div>
	</div>
</div>
