<div class="bg-footer">
	<div class="uk-container">
		<div uk-grid>
			<div class="uk-width-1-2">
				<div uk-grid>
					<div class="uk-width-1-2">
						<div class="logo-bottom">
							<img class="logo-footer" src="/img/Logo.png" alt="" srcset="" />
						</div>
						<div class="text-logo">
							<h3>Dane kontaktowe</h3>
							<div class="text-adress">
								<p>
									GOGLOBAL24 sp. z o.o. sp. k.
								</p>
								<p>ul. Błękitna 1 Bielany Wrocławskie</p>
								<p>55-040 Kobierzyce</p>
							</div>
							<div class="contact-footer">
								<p>office@goglobal24.com</p>
								<p>+48880477 009</p>
							</div>
						</div>
					</div>
					<div class="uk-width-1-2 uk-padding-remove">
						<div class="nav-footer">
							<div class="title-nav">
								<h4>Mapa strony</h4>
							</div>
							<div class="navbar">
								<ul class="uk-nav uk-nav-default nav-level">
									<li><a href="#">Strona główna </a></li>
									<li><a href="#">O nas</a></li>
									<li><a href="#">Usługi</a></li>
									<li>
										<ul class="uk-nav-sub nav-two">
											<li><a href="#">Wysyłki zagraniczne </a></li>
											<li><a href="#">Obsługa zwrotów </a></li>
											<li><a href="#">Fulfillment </a></li>
											<li><a href="#">GOreturns </a></li>
											<li><a href="#">GOimport </a></li>
										</ul>
									</li>
									<li><a href="#">Narzędzia </a></li>
									<li><a href="#">Blog </a></li>
									<li><a href="#">Kontakt </a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="uk-width-1-1">
						<div class="button-bottom-footer">
							<div uk-grid>
								<a
									href="http://"
									class="facebook-bottom"
									target="_blank"
									rel="noopener noreferrer"
								>
									<i
										class="fa fa-facebook bottom-facebook"
										aria-hidden="true"
									></i
								></a>
								<a
									href="http://"
									class="linkedin-bottom"
									target="_blank"
									rel="noopener noreferrer"
									><i
										class="fa fa-linkedin-square bottom-linkedin"
										aria-hidden="true"
									></i
								></a>
								<a
									href="http://"
									class="google-bottom"
									target="_blank"
									rel="noopener noreferrer"
									><i
										class="fa fa-youtube bottom-youtube"
										aria-hidden="true"
									></i
								></a>
							</div>
						</div>
						<div class="text">
							<span>Polityka prywatności</span>
						</div>
					</div>
				</div>
			</div>
			<div class="uk-width-1-2 ">
				<div class="title-form-footer">
					<h1>Zostaw wiadomość</h1>
				</div>
				<div class="form-footer">
					<form class="form-body-footer">
						<div class="form-one">
							<label class="text-form" for="form-stacked-text"
								>Adres e-mail</label
							>
							<div class="uk-form-controls">
								<input
									class="input-footer"
									id="form-stacked-text"
									type="text"
									placeholder="Wpisz adres e-mail"
								/>
							</div>
						</div>
						<div class="form-two">
							<label class="text-form" for="form-stacked-text"
								>Numer telefonu</label
							>
							<div class="uk-form-controls">
								<input
									class="input-footer"
									id="form-stacked-text"
									type="text"
									placeholder="Wpisz numer telefonu"
								/>
							</div>
						</div>
						<div class="form-container">
							<label class="uk-form-label text-form" for="form-stacked-text"
								>Wiadomość</label
							>
							<textarea
								class=" textarea-footer"
								rows="5"
								placeholder="Twoja wiadomość"
							></textarea>
						</div>
						<div class="uk-align-right block-buttons">
							<button class="uk-button buton-footer">Wyślij</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
