<div class="uk-card uk-card-default container-blog">
	<div class="uk-container">
		<div class="title-blog">
			<h1>Blog</h1>
		</div>
		<div class="my-cards" uk-grid>
			<div class="uk-width-1-1 uk-width-1-3@s">
				<div>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="img/Warstwa.png" alt="" />
						</div>
						<div class="uk-card-body">
							<h3 class="uk-card-title">Tytuł Newsa</h3>
							<p>
								Podstawową funkcją jest zarządzanie wysyłkami i zwrotami:
								kontrola, tworzenie nowych zamówień, import, eksport,edycja,
								usuwanie. System pewnie i szybko generuje
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="uk-width-1-1 uk-width-1-3@s">
				<div>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="img/Warstwa.png" alt="" />
						</div>
						<div class="uk-card-body">
							<h3 class="uk-card-title">Tytuł Newsa</h3>
							<p>
								Podstawową funkcją jest zarządzanie wysyłkami i zwrotami:
								kontrola, tworzenie nowych zamówień, import, eksport,edycja,
								usuwanie. System pewnie i szybko generuje
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="uk-width-1-1 uk-width-1-3@s">
				<div>
					<div class="uk-card uk-card-default">
						<div class="uk-card-media-top">
							<img src="img/Warstwa.png" alt="" />
						</div>
						<div class="uk-card-body">
							<h3 class="uk-card-title">Tytuł Newsa</h3>
							<p>
								Podstawową funkcją jest zarządzanie wysyłkami i zwrotami:
								kontrola, tworzenie nowych zamówień, import, eksport,edycja,
								usuwanie. System pewnie i szybko generuje
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="uk-text-center blog-container-button">
			<button class="btn-blog">Zobacz naszego bloga</button>
		</div>
	</div>
</div>
