<div class="uk-card uk-card-default container-jak">
	<div class="uk-container uk-text-center">
		<h1 class="title-jek">Jak działamy</h1>
		<div class="uk-navbar-center navbar-block">
			<ul class="uk-navbar-nav">
				<li><a href="#">Zagraniczne wysyłki i zwroty</a></li>
				<li><a href="#">Fulfillment</a></li>
				<li><a href="#">GOreturns</a></li>
				<li><a href="#">GOimport</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="content-jak">
	<div class="uk-container">
		<div class="text-jak uk-text-center">
			<p>
				Obsługujemy wysyłki do zagranicznych kupujących oraz ich zwroty. Nasz
				adres
			</p>
			<p>
				wysyłkowo-zwrotny w kraju docelowym udostępniamy sprzedawcom w cenie
				usługi.
			</p>
			<p>
				Doręczeniem zajmują się liderzy sług kurierskich i pocztowych na każdym
				z rynków.
			</p>
		</div>
		<div class="content-schema" uk-grid>
			<div class="uk-width-1-2">
				<div class="uk-text-center">
					<div class="top-schema">
						<span>Przesyłka zbiorcza</span>
						<div class="img-top-left">
							<img src="/img/Kształt1.png" alt="" srcset="" />
						</div>
					</div>
				</div>
			</div>
			<div class="uk-width-1-2">
				<div class="uk-text-center">
					<div class="top-schema">
						<span>Krajowa przesyłka kurierska</span>
						<div class="img-top-rigith">
							<img src="img/Kształt3.png" alt="" srcset="" />
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="uk-width-1-5">
				<div class="block-button-schema-1">
					<div class="blok-1">
						<button class="button-schema">
							<img src="img/buttonSchema1.png" alt="" srcset="" />
						</button>
					</div>
					<span>Twój sklep online</span>
				</div>
			</div> -->
			<!-- <div class="uk-width-1-5">
				<div class="block-button-schema-2">
					<div class="blok-2">
						<button class="button-schema">
							<img src="img/buttonSchema2.png" alt="" srcset="" />
						</button>
					</div>
					<span>GO24 PL</span>
				</div>
			</div> -->
			<!-- <div class="uk-width-1-5 uk-text-center">
				<div class="block-button-schema-3">
					<div class="blok-3">
						<img src="img/buttonSchema3.png" alt="" srcset="" />
					</div>
					<p>Codzienny</p>
					<p>transport</p>
				</div>
			</div> -->
			<!-- <div class="uk-width-1-5">
				<div class="block-button-schema-4">
					<div class="blok-4">
						<button class="button-schema">
							<img src="img/buttonSchema4.png" alt="" srcset="" />
						</button>
					</div>
					<span>GO24 DE/UK/FR</span>
				</div>
			</div> -->
			<!-- <div class="uk-width-1-5">
				<div class="block-button-schema-5">
					<div class="blok-5">
						<button class="button-schema">
							<img src="img/buttonSchema5.png" alt="" srcset="" />
						</button>
					</div>
					<span>Zagraniczny kupujący</span>
				</div>
			</div> -->
			<div class="uk-width-1-2 uk-margin-remove-top">
				<div class="uk-text-center">
					<div class="bottom-schema">
						<div class="img-bottom-left">
							<img src="img/Kształt2.png" alt="" srcset="" />
						</div>
						<span>Przesyłka zbiorcza ze zwrotami</span>
					</div>
				</div>
			</div>
			<div class="uk-width-1-2 uk-margin-remove-top">
				<div class="uk-text-center">
					<div class="bottom-schema">
						<div class="img-bottom-rigith">
							<img src="img/Kształt4.png" alt="" srcset="" />
						</div>
						<span>Zwrot na adres w kraju kupującego</span>
					</div>
				</div>
			</div>
		</div>
		<div class="uk-text-center jak-container-button">
			<button class="btn-jak">Poznaj nasze usługi</button>
		</div>
	</div>
</div>
