<div class="uk-card uk-card-default container-korzysci">
	<div class="uk-container">
		<div class="uk-text-center continer-title-korzysci">
			<div class="title-korzysci"><h1>Korzyści</h1></div>
			<div class="text-korzysci">
				<p>
					Nasze usługi dopasowane są do potrzeb e-sklepów. Pomagamy konkurować z
					zagranicznymi sprzedawcami na ich własnych rynkach.
				</p>
			</div>
		</div>
		<div class="Switcher-korzysci">
			<ul class="uk-subnav button-icon" uk-switcher>
				<li class="one-block">
					<a href="#">
						<div class="block-icon">
							<img src="/img/Kształt-6.png" alt="" srcset="" />
						</div>
						<div class="block-text-icon">
							<span>Szybkość</span>
						</div>
					</a>
				</li>
				<li class="two-block">
					<a href="#">
						<div class="block-icon">
							<img src="/img/home.png" alt="" srcset="" />
						</div>
						<div class="block-text-icon">
							<span>Lokalny adres</span>
						</div>
					</a>
				</li>
				<li class="three-block">
					<a href="#">
						<div class="block-icon">
							<img src="/img/handred.png" alt="" srcset="" />
						</div>
						<div class="block-text-icon">
							<span>Gwarancja satysfakcji</span>
						</div>
					</a>
				</li>
				<li class="four-block">
					<a href="#">
						<div class="block-icon">
							<img src="/img/Kształt.png" alt="" srcset="" />
						</div>
						<div class="block-text-icon">
							<span>Proste zasady</span>
						</div>
					</a>
				</li>
				<li class="five-block">
					<a href="#">
						<div class="block-icon">
							<img src="/img/leptop.png" alt="" srcset="" />
						</div>
						<div class="block-text-icon">
							<span>Własny system</span>
						</div>
					</a>
				</li>
				<li class="six-block">
					<a href="#">
						<div class="block-icon">
							<img src="/img/circel.png" alt="" srcset="" />
						</div>
						<div class="block-text-icon">
							<span>Pomoc</span>
						</div>
					</a>
				</li>
			</ul>
			<ul
				class="uk-switcher content-buton"
				style="background-image: url('/img/saffu-unsplash.png');"
			>
				<li>
					<div class="content-korzyści">
						<h1>Dostawa w 24h!</h1>
						<p>
							Doręczenie do odbiorców w Niemczech możliwe już w 24h z naszego
							centrum w Bielanach Wrocławskich. Kupujący w Wielkiej Brytanii i
							Francji mogą odebrać swoje zamówienia po 48h. Zwroty są przez nas
							codziennie identyfikowane i wpisywane do systemu oraz
							transportowane do centrali.
						</p>
					</div>
				</li>
				<li>
					<div class="content-korzyści">
						<h1>Bielanach Wrocławskich!</h1>
						<p>
							Bielanach Wrocławskich Doręczenie do odbiorców w Niemczech możliwe
							już w 24h z naszego centrum w . Kupujący w Wielkiej Brytanii i
							Francji mogą odebrać swoje zamówienia po 48h. Zwroty są przez nas
							codziennie identyfikowane i wpisywane do systemu oraz
							transportowane do centrali.
						</p>
					</div>
				</li>
				<li>
					<div class="content-korzyści">
						<h1>Dostawa w 24h!</h1>
						<p>
							Doręczenie do odbiorców w Niemczech możliwe już w 24h z naszego
							centrum w Bielanach Wrocławskich. Kupujący w Wielkiej Brytanii i
							Francji mogą odebrać swoje zamówienia po 48h. Zwroty są przez nas
							codziennie identyfikowane i wpisywane do systemu oraz
							transportowane do centrali.
						</p>
					</div>
				</li>
				<li>
					<div class="content-korzyści">
						<h1>Dostawa w 24h!</h1>
						<p>
							Doręczenie do odbiorców w Niemczech możliwe już w 24h z naszego
							centrum w Bielanach Wrocławskich. Kupujący w Wielkiej Brytanii i
							Francji mogą odebrać swoje zamówienia po 48h. Zwroty są przez nas
							codziennie identyfikowane i wpisywane do systemu oraz
							transportowane do centrali.
						</p>
					</div>
				</li>
				<li>
					<div class="content-korzyści">
						<h1>Bielanach Wrocławskich!</h1>
						<p>
							Bielanach Wrocławskich Doręczenie do odbiorców w Niemczech możliwe
							już w 24h z naszego centrum w . Kupujący w Wielkiej Brytanii i
							Francji mogą odebrać swoje zamówienia po 48h. Zwroty są przez nas
							codziennie identyfikowane i wpisywane do systemu oraz
							transportowane do centrali.
						</p>
					</div>
				</li>
				<li>
					<div class="content-korzyści">
						<h1>Bielanach Wrocławskich!</h1>
						<p>
							Bielanach Wrocławskich Doręczenie do odbiorców w Niemczech możliwe
							już w 24h z naszego centrum w . Kupujący w Wielkiej Brytanii i
							Francji mogą odebrać swoje zamówienia po 48h. Zwroty są przez nas
							codziennie identyfikowane i wpisywane do systemu oraz
							transportowane do centrali.
						</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="uk-text-center korzysci-container-button">
			<button class="btn-korzysci">Skontaktuj się z nami</button>
		</div>
		<div class="uk-text-center continer-oprogramowanie">
			<div class="title-oprogramowanie"><h1>Oprogramowanie</h1></div>
			<div class="text-oprogramowanie">
				<p>
					Nasze usługi dopasowane są do potrzeb e-sklepów. Pomagamy konkurować z
					zagranicznymi sprzedawcami na ich własnych rynkach.
				</p>
			</div>
		</div>
	</div>
</div>
