<div
	class="uk-background-cover container-oprogramowanie"
	style="background-image: url('img/checet-img.png');"
>
	<div class="uk-container">
		<div class="uk-grid uk-text-center content-oprogramowanie">
			<div class="uk-width-1-5">
				<div class="one-oprogramowanie">
					<div class="icon-oprogr">
						<img src="img/Kształt.png" alt="" srcset="" />
					</div>
					<div class="title-oprogr"><h3>Wysyłki</h3></div>
					<div class="text-oprogr">
						<p>
							Podstawową funkcją jest zarządzanie wysyłkami i zwrotami:
							kontrola, tworzenie nowych zamówień, import,
						</p>
					</div>
				</div>
			</div>
			<div class="uk-width-1-5">
				<div class="two-oprogr">
					<div class="icon-oprogr">
						<img src="img/Kształt.png" alt="" srcset="" />
					</div>
					<div class="title-oprogr"><h3>Zwroty</h3></div>
					<div class="text-oprogr">
						<p>
							Podstawową funkcją jest zarządzanie wysyłkami i zwrotami:
							kontrola, tworzenie nowych zamówień, import,
						</p>
					</div>
				</div>
			</div>
			<div class="uk-width-1-5">
				<div class="thri-oprogr">
					<div class="icon-oprogr">
						<img src="img/Kształt.png" alt="" srcset="" />
					</div>
					<div class="title-oprogr"><h3>Powiadomienia</h3></div>
					<div class="text-oprogr">
						<p>
							Podstawową funkcją jest zarządzanie wysyłkami i zwrotami:
							kontrola, tworzenie nowych zamówień, import,
						</p>
					</div>
				</div>
			</div>
			<div class="uk-width-1-5">
				<div class="four-oprogr">
					<div class="icon-oprogr">
						<img src="img/Kształt.png" alt="" srcset="" />
					</div>
					<div class="title-oprogr"><h3>Integracje</h3></div>
					<div class="text-oprogr">
						<p>
							Podstawową funkcją jest zarządzanie wysyłkami i zwrotami:
							kontrola, tworzenie nowych zamówień, import,
						</p>
					</div>
				</div>
			</div>
			<div class="uk-width-1-5">
				<div class="five-oprogr">
					<div class="icon-oprogr">
						<img src="img/Kształt.png" alt="" srcset="" />
					</div>
					<div class="title-oprogr"><h3>Własne API</h3></div>
					<div class="text-oprogr">
						<p>
							Podstawową funkcją jest zarządzanie wysyłkami i zwrotami:
							kontrola, tworzenie nowych zamówień, import,
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="uk-text-center oprogramowanie-container-button">
			<button class="btn-oprogramowanie">Więcej o systemie</button>
		</div>
	</div>
</div>
