.continer-oprogramowanie {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	.title-oprogramowanie {
		margin: 100px 0 0px 7px;
		padding: 0 0 0 0;
		h1 {
			font-size: 43px;
			color: #003fdb;
			text-transform: inherit;
		}
	}
	.text-oprogramowanie {
		margin: 46px 0 0 2px;
		padding: 0 0 0 0;
		p {
			font-size: 26px;
		}
	}
}
.container-oprogramowanie {
	height: 625px;
	.content-oprogramowanie {
		margin: 117px 0 0 0;
		padding: 0;
		.two-oprogr {
			.icon-oprogr {
				margin: 0px 57px 0 0px;
			}
			.title-oprogr {
				margin: 38px 65px 0 0;
				h3 {
					font-size: 22px;
				}
			}
			.text-oprogr {
				margin: 34px 24px 0 0;
				p {
					font-size: 13px;
					font-weight: 600;
				}
			}
		}
		.one-oprogramowanie {
			.icon-oprogr {
				margin: 0px 57px 0 0px;
			}
			.title-oprogr {
				margin: 38px 65px 0 0;
				h3 {
					font-size: 22px;
				}
			}
			.text-oprogr {
				margin: 34px 24px 0 0;
				p {
					font-size: 13px;
					font-weight: 600;
				}
			}
		}
		.thri-oprogr {
			.icon-oprogr {
				margin: 0px 44px 0 0px;
			}
			.title-oprogr {
				margin: 38px 45px 0 0;
				h3 {
					font-size: 22px;
				}
			}
			.text-oprogr {
				margin: 34px 24px 0 0;
				p {
					font-size: 13px;
					font-weight: 600;
				}
			}
		}
		.four-oprogr {
			.icon-oprogr {
				margin: 0px 39px 0 0px;
			}
			.title-oprogr {
				margin: 38px 45px 0 0;
				h3 {
					font-size: 22px;
				}
			}
			.text-oprogr {
				margin: 34px 24px 0 0;
				p {
					font-size: 13px;
					font-weight: 600;
				}
			}
		}
		.five-oprogr {
			.icon-oprogr {
				margin: 0px 28px 0 0px;
			}
			.title-oprogr {
				margin: 38px 26px 0 0;
				h3 {
					font-size: 22px;
				}
			}
			.text-oprogr {
				margin: 34px 24px 0 0;
				p {
					font-size: 13px;
					font-weight: 600;
				}
			}
		}
	}
}
.oprogramowanie-container-button {
	margin: 71px 0 0 0px;
	.btn-oprogramowanie {
		font-size: 20px;
		background-color: #00ff97;
		width: 252px;
		height: 75px;
		outline: none;
		border-radius: 47px;
		color: #003fdb;
		cursor: pointer;
	}
}
