.continer-oprogramowanie {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	.title-oprogramowanie {
		margin: 100px 0 0px 7px;
		padding: 0 0 0 0;
		h1 {
			font-size: 43px;
			color: #003fdb;
			text-transform: inherit;
		}
	}
	.text-oprogramowanie {
		margin: 46px 0 0 2px;
		padding: 0 0 0 0;
		p {
			font-size: 26px;
		}
	}
}
.container-oprogramowanie {
	height: 625px;
	.content-oprogramowanie {
		margin: 117px 0 0 0;
		padding: 0;
		.two-oprogr {
			.icon-oprogr {
				margin: 0px 57px 0 0px;
			}
			.title-oprogr {
				margin: 38px 65px 0 0;
				h3 {
					font-size: 22px;
				}
			}
			.text-oprogr {
				margin: 34px 24px 0 0;
				p {
					font-size: 13px;
					font-weight: 600;
				}
			}
		}
		.one-oprogramowanie {
			.icon-oprogr {
				margin: 0px 57px 0 0px;
			}
			.title-oprogr {
				margin: 38px 65px 0 0;
				h3 {
					font-size: 22px;
				}
			}
			.text-oprogr {
				margin: 34px 24px 0 0;
				p {
					font-size: 13px;
					font-weight: 600;
				}
			}
		}
		.thri-oprogr {
			.icon-oprogr {
				margin: 0px 44px 0 0px;
			}
			.title-oprogr {
				margin: 38px 45px 0 0;
				h3 {
					font-size: 22px;
				}
			}
			.text-oprogr {
				margin: 34px 24px 0 0;
				p {
					font-size: 13px;
					font-weight: 600;
				}
			}
		}
		.four-oprogr {
			.icon-oprogr {
				margin: 0px 39px 0 0px;
			}
			.title-oprogr {
				margin: 38px 45px 0 0;
				h3 {
					font-size: 22px;
				}
			}
			.text-oprogr {
				margin: 34px 24px 0 0;
				p {
					font-size: 13px;
					font-weight: 600;
				}
			}
		}
		.five-oprogr {
			.icon-oprogr {
				margin: 0px 28px 0 0px;
			}
			.title-oprogr {
				margin: 38px 26px 0 0;
				h3 {
					font-size: 22px;
				}
			}
			.text-oprogr {
				margin: 34px 24px 0 0;
				p {
					font-size: 13px;
					font-weight: 600;
				}
			}
		}
	}
}
.oprogramowanie-container-button {
	margin: 71px 0 0 0px;
	.btn-oprogramowanie {
		font-size: 20px;
		background-color: #00ff97;
		width: 252px;
		height: 75px;
		outline: none;
		border-radius: 47px;
		color: #003fdb;
		cursor: pointer;
	}
}

@include Max_1200 {
	.continer-oprogramowanie {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		.title-oprogramowanie {
			margin: 100px 0 0px 7px;
			padding: 0 0 0 0;
			h1 {
				font-size: 45px;
				color: #003fdb;
				text-transform: inherit;
			}
		}
		.text-oprogramowanie {
			margin: 46px 0 0 2px;
			padding: 0 0 0 0;
			p {
				font-size: 20px;
			}
		}
	}
	.container-oprogramowanie {
		height: 540px;
		.content-oprogramowanie {
			margin: 50px 0 0 0;
			padding: 0;
			.one-oprogramowanie {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
			.two-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
			.thri-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
			.four-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
			.five-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
		}
	}
	.oprogramowanie-container-button {
		margin: 80px 0 0 0px;
		.btn-oprogramowanie {
			font-size: 15px;
			background-color: #00ff97;
			width: 188px;
			height: 57px;
			outline: none;
			border-radius: 47px;
			color: #003fdb;
			cursor: pointer;
		}
	}
}
@include Max_1100 {
	.continer-oprogramowanie {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		.title-oprogramowanie {
			margin: 100px 0 0px 7px;
			padding: 0 0 0 0;
			h1 {
				font-size: 45px;
				color: #003fdb;
				text-transform: inherit;
			}
		}
		.text-oprogramowanie {
			margin: 46px 0 0 2px;
			padding: 0 0 0 0;
			p {
				font-size: 20px;
			}
		}
	}
	.container-oprogramowanie {
		height: 540px;
		.content-oprogramowanie {
			margin: 50px 0 0 0;
			padding: 0;
			.one-oprogramowanie {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
			.two-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
			.thri-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
			.four-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
			.five-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
		}
	}
	.oprogramowanie-container-button {
		margin: 80px 0 0 0px;
		.btn-oprogramowanie {
			font-size: 15px;
			background-color: #00ff97;
			width: 188px;
			height: 57px;
			outline: none;
			border-radius: 47px;
			color: #003fdb;
			cursor: pointer;
		}
	}
}
@include Max_1000 {
	.continer-oprogramowanie {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		.title-oprogramowanie {
			margin: 100px 0 0px 7px;
			padding: 0 0 0 0;
			h1 {
				font-size: 45px;
				color: #003fdb;
				text-transform: inherit;
			}
		}
		.text-oprogramowanie {
			margin: 46px 0 0 2px;
			padding: 0 0 0 0;
			p {
				font-size: 20px;
			}
		}
	}
	.container-oprogramowanie {
		height: 540px;
		.content-oprogramowanie {
			margin: 50px 0 0 0;
			padding: 0;
			.one-oprogramowanie {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
			.two-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
			.thri-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
			.four-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
			.five-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
		}
	}
	.oprogramowanie-container-button {
		margin: 80px 0 0 0px;
		.btn-oprogramowanie {
			font-size: 15px;
			background-color: #00ff97;
			width: 188px;
			height: 57px;
			outline: none;
			border-radius: 47px;
			color: #003fdb;
			cursor: pointer;
		}
	}
}
@include Max_900 {
	.continer-oprogramowanie {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		.title-oprogramowanie {
			margin: 100px 0 0px 7px;
			padding: 0 0 0 0;
			h1 {
				font-size: 45px;
				color: #003fdb;
				text-transform: inherit;
			}
		}
		.text-oprogramowanie {
			margin: 46px 0 0 2px;
			padding: 0 0 0 0;
			p {
				font-size: 20px;
			}
		}
	}
	.container-oprogramowanie {
		height: 540px;
		.content-oprogramowanie {
			margin: 50px 0 0 0;
			padding: 0;
			.one-oprogramowanie {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
			.two-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
			.thri-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
			.four-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
			.five-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 0px 0 0;
					h3 {
						font-size: 25px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}
			}
		}
	}
	.oprogramowanie-container-button {
		margin: 80px 0 0 0px;
		.btn-oprogramowanie {
			font-size: 15px;
			background-color: #00ff97;
			width: 188px;
			height: 57px;
			outline: none;
			border-radius: 47px;
			color: #003fdb;
			cursor: pointer;
		}
	}
}
@include Max_800 {
	.continer-oprogramowanie {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		.title-oprogramowanie {
			margin: 100px 0 0px 7px;
			padding: 0 0 0 0;
			h1 {
				font-size: 30px;
				color: #003fdb;
				text-transform: inherit;
			}
		}
		.text-oprogramowanie {
			margin: 46px 0 0 2px;
			padding: 0 0 0 0;
			p {
				font-size: 12px;
			}
		}
	}
	.container-oprogramowanie {
		height: 490px;
		.content-oprogramowanie {
			margin: 50px 0 0 0;
			padding: 0;
			.one-oprogramowanie {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
			.two-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
			.thri-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
			.four-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
			.five-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
		}
	}
	.oprogramowanie-container-button {
		margin: 100px 0 0 0px;
		.btn-oprogramowanie {
			font-size: 14px;
			background-color: #00ff97;
			width: 181px;
			height: 62px;
			outline: none;
			border-radius: 47px;
			color: #003fdb;
			cursor: pointer;
		}
	}
}
@include Max_700 {
	.continer-oprogramowanie {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		.title-oprogramowanie {
			margin: 100px 0 0px 7px;
			padding: 0 0 0 0;
			h1 {
				font-size: 30px;
				color: #003fdb;
				text-transform: inherit;
			}
		}
		.text-oprogramowanie {
			margin: 46px 0 0 2px;
			padding: 0 0 0 0;
			p {
				font-size: 12px;
			}
		}
	}
	.container-oprogramowanie {
		height: 490px;
		.content-oprogramowanie {
			margin: 50px 0 0 0;
			padding: 0;
			.one-oprogramowanie {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
			.two-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
			.thri-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
			.four-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
			.five-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
		}
	}
	.oprogramowanie-container-button {
		margin: 100px 0 0 0px;
		.btn-oprogramowanie {
			font-size: 14px;
			background-color: #00ff97;
			width: 181px;
			height: 62px;
			outline: none;
			border-radius: 47px;
			color: #003fdb;
			cursor: pointer;
		}
	}
}
@include Max_600 {
	.continer-oprogramowanie {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		.title-oprogramowanie {
			margin: 100px 0 0px 7px;
			padding: 0 0 0 0;
			h1 {
				font-size: 30px;
				color: #003fdb;
				text-transform: inherit;
			}
		}
		.text-oprogramowanie {
			margin: 46px 0 0 2px;
			padding: 0 0 0 0;
			p {
				font-size: 12px;
			}
		}
	}
	.container-oprogramowanie {
		height: 490px;
		.content-oprogramowanie {
			margin: 50px 0 0 0;
			padding: 0;
			.one-oprogramowanie {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
			.two-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
			.thri-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
			.four-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
			.five-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
		}
	}
	.oprogramowanie-container-button {
		margin: 100px 0 0 0px;
		.btn-oprogramowanie {
			font-size: 14px;
			background-color: #00ff97;
			width: 181px;
			height: 62px;
			outline: none;
			border-radius: 47px;
			color: #003fdb;
			cursor: pointer;
		}
	}
}
@include Max_500 {
	.continer-oprogramowanie {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		.title-oprogramowanie {
			margin: 100px 0 0px 7px;
			padding: 0 0 0 0;
			h1 {
				font-size: 30px;
				color: #003fdb;
				text-transform: inherit;
			}
		}
		.text-oprogramowanie {
			margin: 46px 0 0 2px;
			padding: 0 0 0 0;
			p {
				font-size: 12px;
			}
		}
	}
	.container-oprogramowanie {
		height: 565px;
		.content-oprogramowanie {
			margin: 50px 0 0 0;
			padding: 0;
			.one-oprogramowanie {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
			.two-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
			.thri-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
			.four-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
			.five-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 20px 65px 0 0;
					h3 {
						font-size: 11px;
					}
				}
				.text-oprogr {
					margin: 20px 0px 0 0;
					p {
						font-size: 8px;
						font-weight: 600;
					}
				}
			}
		}
	}
	.oprogramowanie-container-button {
		margin: 100px 0 0 0px;
		.btn-oprogramowanie {
			font-size: 14px;
			background-color: #00ff97;
			width: 181px;
			height: 62px;
			outline: none;
			border-radius: 47px;
			color: #003fdb;
			cursor: pointer;
		}
	}
}
@include Max_400 {
	.continer-oprogramowanie {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		.title-oprogramowanie {
			margin: 100px 0 0px 7px;
			padding: 0 0 0 0;
			h1 {
				font-size: 25px;
				color: #003fdb;
				text-transform: inherit;
			}
		}
		.text-oprogramowanie {
			margin: 46px 0 0 2px;
			padding: 0 0 0 0;
			p {
				font-size: 10px;
			}
		}
	}
	.container-oprogramowanie {
		height: 435px;
		.content-oprogramowanie {
			margin: 117px 0 0 0;
			padding: 0;
			.two-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 10px 0px 0 0;
					h3 {
						font-size: 7px;
					}
				}
				.text-oprogr {
					margin: 0px 0px 0 0;
					p {
						font-size: 5px;
						font-weight: 600;
					}
				}
			}
			.one-oprogramowanie {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 10px 0px 0 0;
					h3 {
						font-size: 7px;
					}
				}
				.text-oprogr {
					margin: 0px 0px 0 0;
					p {
						font-size: 5px;
						font-weight: 600;
					}
				}
			}
			.thri-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 10px 0px 0 0;
					h3 {
						font-size: 7px;
					}
				}
				.text-oprogr {
					margin: 0px 0px 0 0;
					p {
						font-size: 5px;
						font-weight: 600;
					}
				}
			}
			.four-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 10px 0px 0 0;
					h3 {
						font-size: 7px;
					}
				}
				.text-oprogr {
					margin: 0px 0px 0 0;
					p {
						font-size: 5px;
						font-weight: 600;
					}
				}
			}
			.five-oprogr {
				.icon-oprogr {
					margin: 0px 0px 0 0px;
				}
				.title-oprogr {
					margin: 10px 0px 0 0;
					h3 {
						font-size: 7px;
					}
				}
				.text-oprogr {
					margin: 0px 0px 0 0;
					p {
						font-size: 5px;
						font-weight: 600;
					}
				}
			}
		}
	}
	.oprogramowanie-container-button {
		margin: 20px 0 0 0px;
		.btn-oprogramowanie {
			font-size: 10px;
			background-color: #00ff97;
			width: 150px;
			height: 37px;
			outline: none;
			border-radius: 47px;
			color: #003fdb;
			cursor: pointer;
		}
	}
}
